* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
font-family:Arial, Helvetica, sans-serif;


}

#app_header {
    height: 50px;
    background-color: white;


}

.left_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;


}


.list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.inizia {
    background-color: blue;
    border: 5px solid blue;
    color: white;

}

#app_main {}

.titolo {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}


.blocktitle {
    text-align: center;
    padding: 1rem;
}

.t1 {
    font-size: 40px;

}

.block2 {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.squareblock2 {
    width: 300px;
    height: 20rem;
    margin: 1rem 0;
    padding: 1rem;
}

.squareblock3 {
    width: 600px;
    height: 20rem;
    margin: 1rem 0;

}

.blockpiano {
    margin-right: 150px;
    padding: 2rem;
}

.jumbo {
    width: 100%;
    height: 400px;
}

.prova {
    background-color: blue;
    border: 1px solid blue;
}

.freccia {
    font-size: 40px;

}

.titolo1 {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.t2 {
    font-size: 30px;
}

.radio {
    text-align: left;

}

.columns {
    display: flex;
    gap: 2rem;
    justify-content: center;

}

.column1 {
    width: 200px;
    margin: 1rem 0;
    border: 1px solid lightgray;
    
}

.col1text {
    margin-left: 10px;
}

.mese {
    opacity: 0.5;
}

.nopunti {

    list-style: none;
}

.casella {
    text-align: center;
    width: 200px;
    border: 1px solid lightgray;

}



.prova {
    color: white;
    background-color: blue;
    border: 1rem solid blue;

}


hr {
    width: 20px;
}

.column2 {

    width: 200px;
    margin: 1rem 0;
    border: 1px solid lightgray;
   
}

.column3 {
    width: 200px;
    margin: 1rem 0;
    border: 1px solid lightgray;
    
}

.titolo2 {
    display: flex;
    justify-content: center;

}

.Team {
    border: 1px solid lightgray;
    text-align: center;
    padding: 1rem;

}

.enterprise {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid lightgray;

}


.blockenterp {
    justify-content: center;
    padding: 1rem;
}

.enterbutton {
    display: flex;
}


.link {

    margin-left: 450px;
    background-color: blue;
    color: white;
    border: solid blue;

}

.block3 {

    display: flex;
    justify-content: center;
}


.partner {
    width: 100%;

}

.buttonpartner {
    padding: 1rem;
    background-color: white;
}

.blockbusines {
    margin: 1rem;
    padding: 1rem;
    margin-left: 200px;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards1 {
    display: flex;
    justify-content: center;

}

.card1 {
    width: 300px;
    margin: 1rem 0;



}

.card2 {

    width: 300px;
    margin: 1rem 0;


}

.strumento {
    padding: 1rem;

}

img {
    width: 100%;
}

.blockimg {

    width: 600px;
    margin: 2rem 0;
}

.blocktext {
    width: 300px;
    margin: 2rem 0;
    padding: 3rem;
}

.colimg1 {
    display: flex;
    justify-content: center;
}

.colimg2 {
    display: flex;
    justify-content: center;
}

.photo {

    width: 200px;
    height: 200px;

}

.photos {
    width: 400px;
    height: 200px;

    padding: 1rem;

}

.design {

    width: 200px;
    height: 200px;
    background-color: lightgreen;
    padding: 1rem;
    float: left;
}

.arizona {
    width: 200px;
    height: 200px;
    background-color: maroon;
    padding: 1rem;

}

.top {

    width: 200px;
    height: 200px;
    background-color: red;
    padding: 1rem;
}

.world {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 1rem;
}

.hearts {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    padding: 1rem;
}

.florida {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    padding: 1rem;
}

.lonely {
    width: 200px;
    height: 200px;
    background-color: blue;
    padding: 1rem;

}

.clear {
    width: 200px;
    height: 200px;
    background-color: yellow;
    padding: 1rem;


}

.orbar {
    display: flex;
    justify-content: center;

}

.orizontal {
    width: 1200px;
    height: 200px;
    margin: 0rem;
    background-color: lightblue;

}

.drop {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.dropbox {
    color: darkred;
}

.free {
    border: 1px solid white;
}

.titolo4 {

    margin: 3rem;
}

.block {
    padding: 1rem;
    margin: 1rem;
    margin-left: 300px;
}

.block4 {
    width: 700px;
    margin: 1rem;
    height: 200px;
    margin-left: 200px;
}

.longhr {
    width: 500px;
}


#app_footer {
    background-color: black;
    color: white;

}

.fcol {
    display: flex;
    justify-content: center;
    padding: 1rem;

}

.fcol1 {
    width: 150px;
    margin: 1rem;

}

.fcol2 {
    width: 150px;
    margin: 1rem;
}

.fcol3 {
    width: 150px;
    margin: 1rem;
}

.fcol4 {
    width: 150px;
    margin: 1rem;
}

.fcol5 {
    width: 150px;
    margin: 1rem;
}

.italiano {
    width: 100px;
}